@mixin slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 311px; /* Full-width */
    height: 8px;
    border-radius: 0px; /* Specified height */
    background: transparent;
    cursor: pointer; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
    margin-top: 18px;
    margin-bottom: 32px;
    &:hover {
      opacity: 1; /* Fully shown on mouse-over */
    }
    &::-webkit-slider-runnable-track {
      background: #ecf0fb;
      border-radius: 0px;
      height: 8px;
    }
    &::-moz-range-track {
      background: #ecf0fb;
      border-radius: 0px;
      height: 8px;
    }
  
    &::-moz-range-thumb {
      width: 28px; /* Set a specific slider handle width */
      height: 28px; /* Slider handle height */
      border-radius: 50%;
      border: none;
      cursor: pointer; /* Cursor on hover */
    }
    &::-moz-range-progress {
      background: $green;
      height: 8px;
      border-radius: 0px;
    }
    &::-webkit-slider-runnable-track {
      background: #a4f3eb;
      height: 8px;
      border-radius: 0px;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      margin-top: -16px;
      width: 40px; /* Set a specific slider handle width */
      height: 40px; /* Slider handle height */
      border-radius: 50%;
      border: none;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      box-shadow: 0px 15px 30px rgba(0, 255, 231, 0.6);
      background: #10d8c4; /* Green background */
      background-image: url(/images/icon-slider.svg);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer; /* Cursor on hover */
    }
  }

  @mixin checkbox {
    $font-family_1: arial;
$border-color_1: #24232C;

@keyframes s-ripple {
	0% {
		transform: scale(0);
	}
	20% {
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1);
	}
}
@keyframes s-ripple-dup {
	0% {
		transform: scale(0);
	}
	30% {
		transform: scale(1);
	}
	60% {
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1);
	}
}
.control {
	font-family: $font;
	display: block;
	position: relative;
	padding-left: 39px;
	margin-bottom: 20px;
	padding-top: 0px;
	cursor: pointer;
	font-size: 16px;
	input {
		position: absolute;
		z-index: -1;
		opacity: 0;
		&:focus {
			~ {
				.control_indicator {
					background: #24232c;
				}
			}
		}
		&:checked {
			~ {
				.control_indicator {
					background: #A4FFAF;
                    border: 2px solid #A4FFAF;
					&:after {
						display: block;
					}
				}
			}
			&:focus {
				~ {
					.control_indicator {
						background: #A4FFAF;
					}
				}
			}
		}
		&:disabled {
			~ {
				.control_indicator {
					background: #24232C;
					opacity: 0;
					pointer-events: none;
				}
			}
		}
	}
	&:hover {
		input {
			~ {
				.control_indicator {
					background: #24232c;
				}
			}
			&:not([disabled]) {
				&:checked {
                    
					~ {
						.control_indicator {
							background: #A4FFAF;
						}
					}
				}
			}
		}
	}
}
.control_indicator {
	position: absolute;
	top: 0px;
	left: 0;
	height: 20px;
	width: 20px;
	background: #24232c;
	border: 0px solid #000000;
    border: 2px solid white;
	border-radius: 0px;
    margin-top: -3px;
	&:after {
		box-sizing: unset;
		content: '';
		position: absolute;
		display: none;
	}
}
.control-checkbox {
	.control_indicator {
		&:after {
			left: 6px;
			top: 3px;
			width: 3px;
			height: 8px;
			border: solid hsla(248, 15%, 11%, 1);
			border-width: 0 4px 4px 0;
			transform: rotate(45deg);
		}
		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 4.5rem;
			height: 4.5rem;
			margin-left: -1.6rem;
			margin-top: -1.6rem;
			background: #2aa1c0;
			border-radius: 3rem;
			opacity: 0.6;
			z-index: 99999;
			transform: scale(0);
		}
	}
	input {
		&:disabled {
			~ {
				.control_indicator {
					&:after {
						border-color: $border-color_1;
					}
				}
			}
		}
		+ {
			.control_indicator {
				&::before {
					animation: s-ripple 250ms ease-out;
				}
			}
		}
		&:checked {
			+ {
				.control_indicator {
					&::before {
						animation-name: s-ripple-dup;
					}
				}
			}
		}
	}
}

  }